<div class="header">
    <div class="row">
      <img class="col-2" src="https://firebasestorage.googleapis.com/v0/b/sbyc-gi.appspot.com/o/sbsyc.png?alt=media&token=9eedab88-d5c0-4895-8dec-f73d3a0d33d7" style="margin-top: 10px; height: 40px; width: 40px; padding-right:0"/>
      <div class="col-4" style="padding-left: 0px;" ><h2 style="margin-top: 10px;">SBYC</h2></div>
      <div><h5>Filter: <input style="width: 110px; margin-top: 13px" [(ngModel)]="textValue"  type="text"/></h5></div>
    </div>
    <!-- <button (click)="authService.setUsers()">set</button> -->
    <div class="row">
        <!-- <div class="col-3" (click)="sortValue = 'Title';sortDir=!sortDir"><span [ngClass]="{'active':sortValue==='Title'}"  class="badge badge-pill badge-primary" style="width: 70px; cursor: pointer">title <i class="fas right" [ngClass]="{'fa-angle-down':sortDir, 'fa-angle-up':!sortDir}"></i></span>   </div> -->
        <div class="col-3" (click)="sortValue = 'FirstName';sortDir=!sortDir"><span [ngClass]="{'active':sortValue==='FirstName'}"  class="badge badge-pill badge-primary" style="width: 70px; cursor: pointer">first <i class="fas right" [ngClass]="{'fa-angle-down':sortDir, 'fa-angle-up':!sortDir}"></i></span></div>
        <div class="col-3" (click)="sortValue = 'LastName';sortDir=!sortDir"><span [ngClass]="{'active':sortValue==='LastName'}"  class="badge badge-pill badge-primary" style="width: 70px; cursor: pointer">last <i class="fas right" [ngClass]="{'fa-angle-down':sortDir, 'fa-angle-up':!sortDir}"></i></span></div>
        <!-- <div class="col-3" (click)="sortValue = 'Spouse';sortDir=!sortDir"><span [ngClass]="{'active':sortValue==='Spouse'}"  class="badge badge-pill badge-primary" style="width: 70px; cursor: pointer">spouse <i class="fas right" [ngClass]="{'fa-angle-down':sortDir, 'fa-angle-up':!sortDir}"></i></span></div> -->
    </div>
  </div>
<div class="row" style="margin-top: 80px; margin-bottom: 40px">
  <div class="col-sm-12 list-group">
    <ul class="list-group-item">
          <app-user *ngFor="let user of users | filter:textValue | sort:sortValue:sortDir ; let i=index "  [user]="user" [index]="i"></app-user>
    </ul>
  </div>
</div>
<div *ngIf="authService.isAdmin()" class="footer"><button  type="button" style="margin-top: 5px; margin-bottom: 5px" (click)="addUser()" class="btn btn-success">Add Member</button></div>
