.active {
    background-color: green;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0062cc;
    color: white;
    text-align: center;
    z-index: 100;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0062cc;
    color: white;
    text-align: left;
    z-index: 100;
    padding:15px;
}
