<div class="container">
      <form *ngIf="user" [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <div class="row">
                  <div class="col">
                    <label for="title">Title</label>
                  </div>
                  <div class="col-7">
                      <input type="text"
                      id="title"
                      class="form-control"
                      formControlName ="title"
                      >
                  </div>
              </div>
              <!-- <div class="row">
                <div class="col">
                  <label for="salutation">Salutation</label>
                </div>
                <div class="col-7">
                    <input type="text"
                    id="salutation"
                    class="form-control"
                    formControlName ="salutation"
                    >
                </div>
            </div> -->
            <div class="row">
                <div class="col">
                  <label for="firstName">First Name</label>
                </div>
                <div class="col-7">
                    <input type="text"
                    id="firstName"
                    class="form-control"
                    formControlName ="firstName"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                  <label for="lastName">Last Name</label>
                </div>
                <div class="col-7">
                    <input type="text"
                    id="lastName"
                    class="form-control"
                    formControlName ="lastName"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                  <label for="spouse">Spouse Name</label>
                </div>
                <div class="col-7">
                    <input type="text"
                    id="spouse"
                    class="form-control"
                    formControlName ="spouse"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                  <label for="wo">Womans Organization</label>
                </div>
                <div class="col-7">
                    <input type="checkbox"
                    id="wo"
                    class="form-control"
                    formControlName ="wo"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                  <label for="homePhone">Home Phone</label>
                </div>
                <div class="col-7">
                    <input type="text"
                    id="homePhone"
                    class="form-control"
                    formControlName ="homePhone"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                  <label for="cellPhone">Cell Phone</label>
                </div>
                <div class="col-7">
                    <input type="text"
                    id="cellPhone"
                    class="form-control"
                    formControlName ="cellPhone"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                  <label for="spousePhone">Spouse Phone</label>
                </div>
                <div class="col-7">
                    <input type="text"
                    id="spousePhone"
                    class="form-control"
                    formControlName ="spousePhone"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                  <label for="address1">Address</label>
                </div>
                <div class="col-7">
                    <input type="text"
                    id="address1"
                    class="form-control"
                    formControlName ="address1"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                </div>
                <div class="col-7">
                    <input type="text"
                    id="address2"
                    class="form-control"
                    formControlName ="address2"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <label for="email">Email</label>
                  </div>
                <div class="col-7">
                    <input type="text"
                    id="email"
                    class="form-control"
                    formControlName ="email"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <label for="spouseEmail">Spouse Email</label>
                  </div>
                <div class="col-7">
                    <input type="text"
                    id="spouseEmail"
                    class="form-control"
                    formControlName ="spouseEmail"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <label for="boatMM">Boat Make and Model</label>
                  </div>
                <div class="col-7">
                    <input type="text"
                    id="boatMM"
                    class="form-control"
                    formControlName ="boatMM"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <label for="boatName">Boat Name</label>
                  </div>
                <div class="col-7">
                    <input type="text"
                    id="boatName"
                    class="form-control"
                    formControlName ="boatName"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <label for="memberYear">Member Since</label>
                  </div>
                <div class="col-7">
                    <input type="text"
                    id="memberYear"
                    class="form-control"
                    formControlName ="memberYear"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <label for="memberNumber">Member Number</label>
                  </div>
                <div class="col-7">
                    <input type="text"
                    id="memberNumber"
                    class="form-control"
                    formControlName ="memberNumber"
                    >
                </div>
            </div>
            <div class="row">
                <div class="col" >
                    <label for="memberType">Member Type</label>
                  </div>
                <div class="col-7">
                    <input type="text"
                    id="memberType"
                    class="form-control"
                    formControlName ="memberType"
                    >
                </div>
            </div>

            <div class="row">
                <div class="col" >
                    <label for="photo">Photo</label>
                  </div>
                <div class="col-7">
                    <input id="imageUpload" type="file" name="imageUpload" accept="image/*">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                  <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Save</button>
                  <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
                  <button *ngIf="!userService.addingUser" type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
                  <button *ngIf="!userService.addingUser" type="button" class="btn btn-danger" (click)="resetPassword()">Reset Password</button>
                </div>
              </div>
      
        </div>
      </form>
    </div>