<div class="card" style="margin-top: 10px; margin-left: 5px">
  <div 
    class="card-header"
    style="cursor: pointer" (click)="showDetail=!showDetail;"
    [ngClass]="{active:showDetail}">
    <div class="row">
      <div class="col-9">
        <h5 clas="list-group=item-heading">{{user.TitleTrimmed()}} {{user.LastName}}, {{user.FirstName}}  <span *ngIf="user.Spouse != ''"> ({{user.Spouse}} {{IsWO(user)}}) </span></h5>
        <!-- <p class="list-group-item-text">{{user.address.number}}</p> -->
      </div>
      <span class="col-3">
        <img src="https://firebasestorage.googleapis.com/v0/b/sbyc-gi.appspot.com/o/members%2F{{user.MemberNumber}}?alt=media&token=a4a46c86-a26e-4f21-a71f-5f46d0f947db?ver={{getVersion()}}" alt="" onerror="this.src='https://firebasestorage.googleapis.com/v0/b/sbyc-gi.appspot.com/o/sbsyc.png?alt=media&token=9eedab88-d5c0-4895-8dec-f73d3a0d33d7';" class="centered-and-cropped" width="50" height="50">
      </span>
    </div>
  </div>
  <div *ngIf="showDetail" class="card-body" [ngClass]="{active:showDetail}">
    <div class="row">
      <div class="col-sm">
        <h6>Membership: {{user.MemberType}}, {{user.MemberYear}} </h6>
      </div>
    </div>

    <div class="row">
      <div class="col-6">

        <div class="row">
          <div class="col-sm">
            <h6>Home Phone:</h6> 
          </div>
          <div class="col-sm">
            <h6><a href="tel:{{user.HomePhone}}">{{user.HomePhone}}</a></h6>
          </div>
        </div>
        <div class="row">
            <div class="col-sm">
              <h6>Cell Phone:</h6> 
            </div>
            <div class="col-sm">
              <h6><a href="tel:{{user.CellPhone}}">{{user.CellPhone}}</a></h6>
            </div>
        </div>
        <div class="row" *ngIf="user.SpousePhone != ''">
            <div class="col-sm">
              <h6>{{user.Spouse}}'s Phone:</h6> 
            </div>
            <div class="col-sm">
              <h6><a href="tel:{{user.SpousePhone}}">{{user.SpousePhone}}</a></h6>
            </div>
        </div>
      </div>
      <div class="col-6">
          <img src="https://firebasestorage.googleapis.com/v0/b/sbyc-gi.appspot.com/o/members%2F{{user.MemberNumber}}?alt=media&token=a4a46c86-a26e-4f21-a71f-5f46d0f947db?ver={{getVersion()}}" alt="" onerror="this.src='https://firebasestorage.googleapis.com/v0/b/sbyc-gi.appspot.com/o/sbsyc.png?alt=media&token=9eedab88-d5c0-4895-8dec-f73d3a0d33d7';" class="imageAdjust ">
      </div>
  </div>
    <div class="row">
      <div class="col-sm">
        <h6>Address:</h6> 
      </div>
      <div class="col-sm">
        <h6><a href="https://maps.google.com/?q={{user.address1}}, {{user.address2}}">{{user.address1}}, {{user.address2}}</a></h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h6>Email:</h6> 
      </div>
      <div class="col-sm">
        <h6><a href="mailto:{{user.Email}}">{{user.Email}}</a></h6>
      </div>
    </div>
    <div class="row" *ngIf="user.SpouseEmail != ''">
        <div class="col-sm">
          <h6>{{user.Spouse}}'s Email:</h6> 
        </div>
        <div class="col-sm">
          <h6><a href="mailto:{{user.SpouseEmail}}">{{user.SpouseEmail}}</a></h6>
        </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h6>Boat Make/Model:</h6> 
      </div>
      <div class="col-sm">
        <h6>{{user.BoatMM}}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <h6>Boat Name:</h6> 
      </div>
      <div class="col-sm">
        <h6>{{user.BoatName}}</h6>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm">
        <h6>Member Since:</h6> 
      </div>
      <div class="col-sm">
        <h6>{{user.MemberYear}}</h6>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-sm">
        <h6>Member Number:</h6> 
      </div>
      <div class="col-sm">
        <h6>{{user.MemberNumber}}</h6>
      </div>
    </div> -->
    
    
    <div class="row" >
          <div class="col-sm">
            <button *ngIf="authService.isUserAccount(user.MemberNumber)" class="btn btn-primary" (click)="onEditItem(user)">Edit</button>
          </div>
      </div>
  </div>
</div>